<header>
  <h1>Create <br> a new Project</h1>
</header>


<form [formGroup]="createProjectForm" (ngSubmit)="onSubmit()">
  <label>Title
  </label>
  <input type="text" placeholder="Add Title.."  formControlName="titleControl">
  <label>Select thumbnail</label>
  <app-thumbnail-picker (imageSelected)="onImageSelected($event)"></app-thumbnail-picker>
  <label>Description</label>
  <textarea placeholder="Add Project Description.." formControlName="descriptionControl"></textarea>
  <button [disabled]="!createProjectForm.valid">Create</button>
</form>

<a routerLink="register"></a>
