:host {
  display: flex;
  flex-direction: column;

  width: 60%;
  min-height: 100vh;
  margin: 0 auto;
  border-left: 1px dashed #8d9189;
  border-right: 1px dashed #8d9189;

  background-color: #efefef80;
  align-items: center;
}

h2 {
  margin: 20px 0;
}

