<div class="post">
  <div class="userpost">
    <p>{{post?.content}}</p>
    <div class="userpost-meta">
      <p>User: {{post?.authorId}}</p>
      <p>{{post?.publishedAt | dateTransform}}</p>
    </div>
  </div>
  
  <div class="progress">
    <p>{{post?.progress}}</p>
  </div>
  
  <p>Comments:</p>
  <div class="comment" *ngFor="let comment of post?.comments">
    <p>{{comment.content}}</p>
    <div class="userpost-meta">
      <p>User: {{comment.authorId}}</p>
      <p>{{comment.createdAt | dateTransform}}</p>
    </div>
  </div>
  <div class="comment">
    <textarea placeholder="Your dedication is inspiring!.."></textarea>
    <button>Send</button>
  </div>
</div>
<div class="inBetween"></div>


